// COLORS
$cl-txt: #151515;
$cl-primary: #105CAA;
$cl-nav: #0C549F;
$cl-p: #424242;
$bg-btn: #F0F0F0;

// FONTS
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// PX-SIZE
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
