.cl-primary {
   color: $cl-primary !important;
}

.bg-primary {
   background: $cl-primary !important;
}

.bg-orange {
   background-color: #F8891C !important;
}

.main {
   background-color: #F8F8F8;
   margin-bottom: 20px;

   &__img {
      width: 100%;
      height: 100%;
      margin-top: 60px;
      transform: scale(1.2);
      object-fit: contain;
   }

   &__slider {

      &-titles {
         @include center-absolute;
         top: 30%;
         left: 50%;
         z-index: 5;
      }

      &-titles2 {
         text-align: start;
         top: 50%;
         left: 28%;
      }

      &-txt {
         font-weight: 900;
         font-size: 30px;
         margin-bottom: 14px;
         color: #da465b;

         &:nth-child(1) {
            animation-name: first-txt;
            animation-duration: 1s;
            animation-timing-function: ease;
         }
      }

      &-title {
         font-weight: 900;
         font-size: 36px;
         margin-bottom: 10px;

         &__fr {
            animation-name: first-title;
            animation-duration: 0.9s;
            animation-timing-function: ease;
         }

         &__sc {
            animation-name: second-title;
            animation-duration: 1.4s;
            animation-timing-function: ease-in-out;
         }

         &__th {
            animation-name: thirth-title;
            animation-duration: 0.8s;
            animation-timing-function: ease;
         }
      }

      &-desc {
         max-width: 550px;
         font-weight: 300;
         font-size: 18px;
         margin-bottom: 30px;

         &__fr {
            animation-name: first-desc;
            animation-duration: 1s;
            animation-timing-function: ease;
         }

         &__sc {
            animation-name: second-desc;
            animation-duration: 0.8s;
            animation-timing-function: ease;
         }

         &__th {
            animation-name: thirth-desc;
            animation-duration: 0.6s;
            animation-timing-function: ease;
         }
      }

      &-desc2 {
         max-width: 450px;
         font-weight: normal;
         font-size: 13px;
      }

      &-btn {
         font-family: $font-roboto;
         font-weight: 600;
         font-size: 11px;
         padding: 15px 40px;
         border-radius: 40px;
         color: #fff;
         background-color: #da465b;
         transition: background 0.4s ease;

         &__fr {
            animation-name: first-btn;
            animation-duration: 1.1s;
            animation-timing-function: ease;
         }

         &__sc {
            animation-name: second-btn;
            animation-duration: 1.1s;
            animation-timing-function: ease;
         }

         &__th {
            animation-name: thirth-btn;
            animation-duration: 0.55s;
            animation-timing-function: ease-out;
         }

         &:hover {
            color: #fff;
            background-color: $cl-nav !important;
         }

         .bi {
            margin-right: 8px;
         }
      }

      &-icon {
         top: 45%;
         width: 4%;
         height: 12%;
         background-color: #111;
      }
   }
}

@keyframes first-txt {
   0% {
      transform: translateY(50px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes first-title {
   0% {
      transform: translateX(600px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes first-desc {
   0% {
      transform: translateX(-600px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes first-btn {
   0% {
      transform: translateY(30px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes second-title {
   0% {
      transform: translateX(-600px);
   }
   50% {
      transform: translateX(10px);
   }
   70% {
      transform: translateX(-5px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes second-desc {
   0% {
      transform: translateX(600px);
   }
   50% {
      transform: translateX(-10px);
   }
   70% {
      transform: translateX(5px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes second-btn {
   0% {
      transform: translateY(-30px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes thirth-title {
   0% {
      transform: translateY(-800px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes thirth-desc {
   0% {
      transform: translateY(-80px);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes thirth-btn {
   0% {
      transform: translateX(150px);
   }
   100% {
      transform: translateX(0);
   }
}

@include breakpoint-down($max-lg) {
   .main__img {
      transform: scale(1);
   }
   .main__slider-txt {
      font-size: 24px;
   }
   .main__slider-title {
      font-size: 30px;
   }
   .main__slider-desc {
      font-size: 13px;
   }
}

@include breakpoint-down(880px) {
   .main__slider-titles {
      top: 60%;
   }
   .main__slider-titles2 {
      left: 40%;
   }
}

@include breakpoint-down(630px) {
   .main__img {
      transform: scale(1.2);
   }
   .main__slider-txt {
      font-size: 20px;
   }
   .main__slider-title {
      font-size: 25px;
   }
   .main__slider-desc {
      font-size: 12px;
   }
}

@include breakpoint-down($max-xs) {
   .main__slider-titles {
      display: none;
   }
   .carousel-item:nth-child(2) {
      background-color: #EFEFEF;
   }
   .main__img {
      height: 300px;
      transform: scale(1.4);
   }

}
